@import "../../variables.styl";

.footer {
    background: $juniper;
    padding: 35px 0;
    text-align: center;

    &__text {
        font: 0.875em "SourceSansProRegular", sans-serif;
        line-height: 1;
        color: $white;
    }
}