@import "../../variables.styl";

.section {
    &__header {
        text-align: center;
        padding: 36px 0;
    }

    &__title {
        font: 2.125em "SourceSansProBold", sans-serif;
        line-height: 1;
        color: $juniper;
        font-weight: 800;
    }

    &__text {
        font: 1.5em "SourceSansProLight", sans-serif;
        line-height: 1;
        color: $juniper;
        font-weight: 100;
        margin-top: 10px;
    }
}