@import "../../variables.styl";

.banner-section {
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    //background-position: center center;
    background-size: cover;
    height: 520px;
    text-align: center;

    &__wrap {
        display: flex;
        flex: 1;
        height: 100%;
    }

    &__content {
        margin: auto;
        width: 430px;
    }

    &__title {
        display: inline;
        font: 2.5em "PTSansBold", sans-serif;
        line-height: 1.3em;
        color: $white;
        border-bottom: 2px solid $white;
    }

    &__text {
        font: 1em "LatoRegular", sans-serif;
        color: $white;
        line-height: 1.625em;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-top: 25px;
    }

    &__link {
        margin: 40px auto 0 auto;

        &:before {
            background: url("../img/arrow-icon.png") no-repeat 0 0;
            width: 14px;
            height: 31px;
            margin-top: -15px;
            margin-left: -7px;
        }
    }

}